

<!DOCTYPE html>
<html xmlns:og="http://ogp.me/ns#">
<head>
  <meta charset="UTF-8">
  <title>atskimura - Qiita</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1"/>
  <meta name="description" content="co-meetingってチームコラボレーションツール開発してます。
HipChatとも連携できますよ。ぜひお試しを！
http://www.co-meeting.com/"/>


  <meta content="summary" name="twitter:card" /><meta content="@Qiita" name="twitter:site" />

  <meta content="atskimura - Qiita" property="og:title" /><meta content="article" property="og:type" /><meta content="http://qiita.com/atskimura" property="og:url" /><meta content="https://secure.gravatar.com/avatar/08e4449e96aefe61269704f8ba28bc2e?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" property="og:image" /><meta content="co-meetingってチームコラボレーションツール開発してます。
HipChatとも連携できますよ。ぜひお試しを！
http://www.co-meeting.com/" property="og:description" /><meta content="Qiita" property="og:site_name" /><meta content="564524038" property="fb:admins" />

  <link rel="icon" type="image/png" href="/icons/favicons/public/production.png?v=4">
  <link rel="shortcut icon" type="image/x-icon" href="/icons/favicons/public/production.ico?v=4">
  <link rel="apple-touch-icon" href="/icons/favicons/public/apple-touch-icon.png">

  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="//cdn.qiita.com/assets/public-application-ffe1a980c8eb9776c7adf6a10627b9ec.css" media="all" rel="stylesheet" />

  <meta content="authenticity_token" name="csrf-param" />
  <meta content="ftHhR+U7NU34fQfBHc+AWaImpEc+d68PZcuQOeYVRrM=" name="csrf-token" />
</head>
<body id="" class="without-js">
<noscript><iframe height="0" src="//www.googletagmanager.com/ns.html?id=GTM-TBQWPN" style="display:none;visibility:hidden" width="0"></iframe></noscript>
<script>
  document.body.className = document.body.className.replace('without-js', '') + ' with-js';

  // Application Namespace
  var Qiita = {
    user: {"id":12228,"url_name":"scova0731","profile_image_url":"https://secure.gravatar.com/avatar/74738290976a3b66c3dffc069c81fe94?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png"},
    controllerPath: 'users',
    controller: 'users',
    action: 'show',
    env: 'production',
    flash: {},
    config: {
      mixpanel: {"public":"be87616606b0e26a87689099aab2c4e5","team":"b7c0342acba2dbc8742484d98788efb3","career":"dd35af27e959781713d63fd7ca898a8d","per_team":"c0a2116368b33b44b5029ebd2cc9b094"}
    },


    // Fake jQuery
    // Emulate $.ready(fn) in views before load jQuery.
    _q: [],
    // The ready function that collect calls and put it in the queue
    ready: function (func) {
      if (typeof func==='function') Qiita._q.push(func);
      // return jQl in order to support jQuery(document).ready()
      return Qiita
    },
    // Run all queues inline $.ready() calls in the right order and purge the
    // queue
    unqueue: function () {
      for (var i = 0, l = Qiita._q.length; i < l; i++) Qiita._q[i]();
      Qiita._q = [];
    }
  };
  var $ = Qiita.ready, jQuery = $;
</script>



<header class="js-globalNavigation globalNavigation navbar navbar-static-top">
  <div class="globalNavigation_inner">
    <div class="container position-relative">
      <h1 class="globalNavigation_siteid">
        <a class="globalNavigation_brand" href="/">Qiita - プログラマの技術情報共有サービス</a>
      </h1>
      <ul class="js-teamSwitch teamSwitch">
        <li class="teamSwitch_selectCaret js-lazyDropdown" data-remote="/api/navbar/teams" data-target=".js-navbarTeams">
          <a href="javascript:void(0);" class="teamSwitch_selectCaretItem">
            <i class="fa fa-caret-down"></i>
          </a>
        </li>
        <ul class="js-teamSwitch_teamList teamSwitch_teamList js-navbarTeams">
          <div class="text-center">
            <p>Loading <i class="fa fa-spinner fa-spin"></i></p>
          </div>
        </ul>
      </ul>
      <div class="hidden-phone">
        <form accept-charset="UTF-8" action="/search" class="js-globalSearchForm globalSearchForm" method="get"><div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" /></div>
          <input id="sort" name="sort" type="hidden" value="rel" />
          <div class="globalSearchForm_queryWrapper">
            <input class="globalSearchForm_query js-globalSearchForm_query" id="q" name="q" placeholder="投稿/ユーザー検索" type="text" />
            <div class="js-globalSearchForm_stockedSearch globalSearchForm_stockedSearch">
              <label class="checkbox">
                <input class="js-globalSearchForm_stockedSearchOption" id="stocked" name="stocked" type="checkbox" value="1" />
                <i class="fa fa-stock unstock"></i>
                ストックした投稿を検索
              </label>
            </div>
          </div>
          <input class="js-globalSearchForm_submitBtn globalSearchForm_submitBtn" name="commit" type="submit" value="検索" />
        </form>            <div class="visible-desktop">
        <div class="js-globalHeadlineNews globalHeadlineNews">
                  <span class="globalHeadlineNews_newsType">
                    News
                  </span>
                <span class="globalHeadlineNews_newsContent">
                  <a href="http://blog.qiita.com/post/70987605301/qiita-shop?utm_source=qiita&amp;utm_medium=header" target="_blank">
                    Qiita:Shop開設
                  </a>
                </span>
        </div>
      </div>
      </div>
      <ul class="globalNavigationContents">
        <li class="js-globalNotification globalNotification">
          <div class="globalNotification_surface js-dropdownSurface">
            <div class="globalNotification_count js-globalNotification_count">
              &nbsp;
            </div>
          </div>
          <div class="dropdownWrapper">
            <div class="globalNotification_arrow"></div>
            <div class="globalNotificationContents">
              <div class="globalNotificationContents_header">
                お知らせ
              </div>
              <ul class="js-globalNotification_list globalNotificationContents_list">
              </ul>
              <div class="globalNotificationContents_footer">
                <a href="/notifications">通知一覧を見る</a>
              </div>
            </div>
          </div>
        </li>
        <li class="hidden-phone dropdown globalNavigationContents_item">
          <a class="dropdown-toggle globalNavigationContents_itemLink" data-toggle="dropdown" href="/drafts" id="draftsDropdown">
            投稿する
            <i class="fa fa-caret-down"></i>
          </a>            <ul class="dropdown-menu">
          <li><a href="/drafts/new">新規作成</a></li>
          <li><a href="/drafts">下書き一覧</a></li>
        </ul>
        </li>
        <li class="globalNavigationContents_item hidden-phone">
          <a class="globalNavigationContents_itemLink" href="/scova0731/stock">ストック一覧</a>
        </li>
        <li class="dropdown globalNavigationContents_item">
          <a href="#" class="dropdown-toggle globalNavigationContents_itemLink"
             data-toggle="dropdown">
            <img class="user-icon" src="https://secure.gravatar.com/avatar/74738290976a3b66c3dffc069c81fe94?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" />
            <i class="fa fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/scova0731">マイページ</a></li>
            <li><a href="/patches">編集リクエスト管理</a></li>
            <li><a href="/settings/profile">プロフィール設定</a></li>
            <li><a href="http://qiita.com/settings/account">設定</a></li>
            <li><a data-method="post" href="http://qiita.com/logout" rel="nofollow">ログアウト</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</header>

<div id="main"><link href="http://qiita.com/atskimura/feed" rel="alternate" title="Atom Feed" type="application/atom+xml" />

<section itemscope itemtype="http://schema.org/Person">
<div id="user-info-box">

<div class="container">
  <div class="row">
    <div class="span12">
      <a href="/atskimura"><img class="user-icon" src="https://secure.gravatar.com/avatar/08e4449e96aefe61269704f8ba28bc2e?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" title="atskimura" /></a>
      <div class="outline">
        <div class="first-line">
          <h1 class="url-name">
            <span itemprop="name">atskimura</span>
          </h1>
          <ul class="user-account-data unstyled">
            <li>
              <a href="https://github.com/atskimura"
                 target="_blank"
                 title="atskimuraのGitHubページを開く">
                <i class="fa fa-github-square"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/a_kimura"
                 target="_blank"
                 title="atskimuraのTwitterページを開く">
                <i class="fa fa-twitter-square"></i>
              </a>
            </li>
            <li>
              <a href="https://facebook.com/atskimura" target="_blank">
                <i class="fa fa-facebook-square"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="second-line">
          <span class="count">478</span>
          <span class="unit">Contribution</span>
        </div>
          <span class="btn js-user-follow-btn follow-btn"
                data-url_name="atskimura"
                data-position="user page's header">
            フォローする
          </span>
      </div>
    </div>
  </div>
</div>
<script type="application/json" class="js-user">
  {&quot;id&quot;:27267,&quot;url_name&quot;:&quot;atskimura&quot;,&quot;profile_image_url&quot;:&quot;https://secure.gravatar.com/avatar/08e4449e96aefe61269704f8ba28bc2e?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png&quot;,&quot;following&quot;:false}
</script>

<script class="js-page-access" type="application/json">
  { "myPage": false }
</script>

<div class="user-info-wrapper">
  <div class="container">
    <div class="row">
      <div class="span4"><div id="user-attributes">
        <ul class="unstyled">
          <li class="full-name">
            <span itemprop="familyName">Kimura</span>
            <span itemprop="givenName">Atsuhiko</span>
          </li>
          <li>
            <i class="fa fa-link"></i>
            <a href="http://www.co-meeting.com/" itemprop="url" rel="me nofollow" target="_blank">http://www.co-meeting.com/</a>
          </li>
          <li>
            <i class="fa fa-building-o"></i>
            co-meeting, Inc.
          </li>
        </ul>
        <h6>自己紹介</h6>
        <div class="description" itemprop="description">
          co-meetingってチームコラボレーションツール開発してます。
          HipChatとも連携できますよ。ぜひお試しを！
          <a href="http://www.co-meeting.com/" target="_blank">http://www.co-meeting.com/</a>
        </div>
      </div>
      </div>
      <div class="span3">  <section>
        <h6>
          <a href="/atskimura/following_tags">フォロー中のタグ <span>7</span></a>
        </h6>
        <ul class="unstyled tag-list">
          <li>
            <a href="/tags/salesforce">
              <img src="https://s3-ap-northeast-1.amazonaws.com/qiita-tag-image/bcaa90e61399e3019d80f64ac15db47197c74016/thumb.jpg?1395459208" />Salesforce
            </a>
          </li>
          <li>
            <a href="/tags/webrtc">
              <img src="//cdn.qiita.com/icons/thumb/missing.png" />WebRTC
            </a>
          </li>
          <li>
            <a href="/tags/angularjs">
              <img src="https://s3-ap-northeast-1.amazonaws.com/qiita-tag-image/795879b7e5a2ed2606b726cc7823232f08a2df53/thumb.jpg?1395746077" />AngularJS
            </a>
          </li>
          <li>
            <a href="/tags/chef">
              <img src="https://s3-ap-northeast-1.amazonaws.com/qiita-tag-image/efb59d8166b5aa2a32338d1db177c72c3c6848cb/thumb.jpg?1387959920" />chef
            </a>
          </li>
          <li>
            <a href="/tags/elasticsearch">
              <img src="https://s3-ap-northeast-1.amazonaws.com/qiita-tag-image/ee6e2700e3756b85aaede0975934344439094b56/thumb.jpg?1373503782" />Elasticsearch
            </a>
          </li>
        </ul>
      </section>


        <section>
          <h6>
            <a href="/atskimura/followers">フォロワー <span>23</span></a>
          </h6>
          <ul class="unstyled user-icon-list">
            <li itemscope itemtype="http://schema.org/Person">
              <meta itemprop="name" content="satoruf" />
              <a href="/satoruf" itemprop="url"><img itemprop="image" src="https://pbs.twimg.com/profile_images/769358094/091203portrait_normal.jpg" /></a>
            </li>
            <li itemscope itemtype="http://schema.org/Person">
              <meta itemprop="name" content="beat0836" />
              <a href="/beat0836" itemprop="url"><img itemprop="image" src="https://pbs.twimg.com/profile_images/1181975961/morroco_normal.jpg" /></a>
            </li>
            <li itemscope itemtype="http://schema.org/Person">
              <meta itemprop="name" content="selious" />
              <a href="/selious" itemprop="url"><img itemprop="image" src="https://secure.gravatar.com/avatar/24a986d4723a37cbe48f65d50ef19e0e" /></a>
            </li>
            <li itemscope itemtype="http://schema.org/Person">
              <meta itemprop="name" content="Fukuta" />
              <a href="/Fukuta" itemprop="url"><img itemprop="image" src="https://secure.gravatar.com/avatar/5b9e17ab877c56a3e9e5a9b5f518655c" /></a>
            </li>
            <li itemscope itemtype="http://schema.org/Person">
              <meta itemprop="name" content="ats777" />
              <a href="/ats777" itemprop="url"><img itemprop="image" src="https://pbs.twimg.com/profile_images/2918753223/7004c8397aa14cc765a9a5016dac2d36_normal.jpeg" /></a>
            </li>
            <li itemscope itemtype="http://schema.org/Person">
              <meta itemprop="name" content="AdLabo_web" />
              <a href="/AdLabo_web" itemprop="url"><img itemprop="image" src="https://pbs.twimg.com/profile_images/378800000491438963/9592fd7bfb90d310f3a395b5eee284f5_normal.jpeg" /></a>
            </li>
            <li itemscope itemtype="http://schema.org/Person">
              <meta itemprop="name" content="boken23" />
              <a href="/boken23" itemprop="url"><img itemprop="image" src="https://pbs.twimg.com/profile_images/2378993126/jk8mxjvxmb19kfanw3c2_normal.jpeg" /></a>
            </li>
            <li itemscope itemtype="http://schema.org/Person">
              <meta itemprop="name" content="setoyama60jp" />
              <a href="/setoyama60jp" itemprop="url"><img itemprop="image" src="https://pbs.twimg.com/profile_images/1305332684/111904771_origin_normal.jpeg" /></a>
            </li>
          </ul>
        </section>

      </div>
      <div class="span5"><div id="tendency-of-posts">
        <h5>投稿タイプ</h5>
        <div id="piechart"></div>

        <script>
          $(function() {
            var tagData = [["OpenSource",3],["WebRTC",3],["kibana3",2],["JavaScript",2],["Rails",2],["Elasticsearch",2],["Konacha",1],["chefspec",1],["Sinon.JS",1],["mocha",1],["brunch",1],["chef",1],["Git",1],["Chaplin.js",1]];
            var tagName = [];
            var tagNum = [];
            var tagCount = 0;
            for (var i in tagData) {
              tagName[i] = "%%.% - " + tagData[i][0];
              tagNum[i] = parseInt(tagData[i][1]);
              tagCount++;
            }
            if (tagCount == 0) {
              $('#piechart').text("No posts yet.");
              return;
            }
            var r = Raphael("piechart");
            var colorList = ["#59BB0C","#7EDB35","#62E65D","#C4ED68","#E2FF9E","#F0F2DD","#D7F6A0","#5DE6A9","#A0D2F6","#80DEF0"];
            var pie = r.piechart(100, 100, 80,
                tagNum,
                { legend: tagName,
                  legendpos: "east",
                  colors: colorList});
            pie.hover(function () {
              this.sector.stop();
              this.sector.scale(1.1, 1.1, this.cx, this.cy);

              if (this.label) {
                this.label[0].stop();
                this.label[0].attr({ r: 7.5 });
                this.label[1].attr({ "font-weight": 800 });
              }
            }, function () {
              this.sector.animate({ transform: 's1 1 ' + this.cx + ' ' + this.cy }, 500, "bounce");

              if (this.label) {
                this.label[0].animate({ r: 5 }, 500, "bounce");
                this.label[1].attr({ "font-weight": 400 });
              }
            });
          });
        </script>
      </div>
        <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.0.1/raphael-min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/graphael/0.5.0/g.raphael-min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/graphael/0.5.0/g.pie-min.js"></script>
      </div>
    </div>
  </div>
</div>

</div>

<div class="container user-show">
<div class="row">
<div class="span7">
  <section>
    <ul class="nav nav-tabs">
      <li class=active>
        <a href="/atskimura/items">最近の投稿 <span class="label label-info">9</span></a>
      </li>
      <li>
        <a href="/atskimura/stock">ストックした投稿</a>
      </li>
    </ul>

    <article class="user-item-box" data-item-url="/atskimura/items/132a39181ad69fab2d63"
             data-uuid="132a39181ad69fab2d63" itemscope itemtype="http://schema.org/Article">

      <div class="">
        <h1 class="" itemprop="name">
          <a href="/atskimura/items/132a39181ad69fab2d63" itemprop="url">WebRTCサーバー「PeerServer」をHerokuで動かす</a>
        </h1>
        <ul class="unstyled tag-list">
          <li class="tag-label">
            <a href="/tags/webrtc">WebRTC</a>
          </li>
          <li class="tag-label">
            <a href="/tags/opensource">OpenSource</a>
          </li>
        </ul>
        <ul class="unstyled status-list">
          <li class="time">
            <a href="/atskimura/items/132a39181ad69fab2d63" title="Permalink">2013/12/13</a>
          </li>
          <li class="stock">
            <i class="fa fa-stock"></i>
            13
          </li>
          <li class="comment">
            <a href="/atskimura/items/132a39181ad69fab2d63#comments">
              <i class="fa fa-comment-o"></i>
              0
            </a>
          </li>
        </ul>
      </div>
    </article>
    <article class="user-item-box" data-item-url="/atskimura/items/80b2bb8fbc055cd4616f"
             data-uuid="80b2bb8fbc055cd4616f" itemscope itemtype="http://schema.org/Article">

      <div class="">
        <h1 class="" itemprop="name">
          <a href="/atskimura/items/80b2bb8fbc055cd4616f" itemprop="url">オープンソースのWebRTCサーバー「PeerServer」インストール手順</a>
        </h1>
        <ul class="unstyled tag-list">
          <li class="tag-label">
            <a href="/tags/webrtc">WebRTC</a>
          </li>
          <li class="tag-label">
            <a href="/tags/opensource">OpenSource</a>
          </li>
        </ul>
        <ul class="unstyled status-list">
          <li class="time">
            <a href="/atskimura/items/80b2bb8fbc055cd4616f" title="Permalink">2013/12/06</a>
          </li>
          <li class="stock">
            <i class="fa fa-stock"></i>
            36
          </li>
          <li class="comment">
            <a href="/atskimura/items/80b2bb8fbc055cd4616f#comments">
              <i class="fa fa-comment-o"></i>
              0
            </a>
          </li>
        </ul>
      </div>
    </article>
    <article class="user-item-box" data-item-url="/atskimura/items/97b2cc04e19781f4a4e6"
             data-uuid="97b2cc04e19781f4a4e6" itemscope itemtype="http://schema.org/Article">

      <div class="">
        <h1 class="" itemprop="name">
          <a href="/atskimura/items/97b2cc04e19781f4a4e6" itemprop="url">WebRTCのオープンソースソフトウェアまとめ</a>
        </h1>
        <ul class="unstyled tag-list">
          <li class="tag-label">
            <a href="/tags/webrtc">WebRTC</a>
          </li>
          <li class="tag-label">
            <a href="/tags/opensource">OpenSource</a>
          </li>
        </ul>
        <ul class="unstyled status-list">
          <li class="time">
            <a href="/atskimura/items/97b2cc04e19781f4a4e6" title="Permalink">2013/11/30</a>
          </li>
          <li class="stock">
            <i class="fa fa-stock"></i>
            95
          </li>
          <li class="comment">
            <a href="/atskimura/items/97b2cc04e19781f4a4e6#comments">
              <i class="fa fa-comment-o"></i>
              0
            </a>
          </li>
        </ul>
      </div>
    </article>
    <article class="user-item-box" data-item-url="/atskimura/items/2287f99db0143da4c20a"
             data-uuid="2287f99db0143da4c20a" itemscope itemtype="http://schema.org/Article">

      <div class="">
        <h1 class="" itemprop="name">
          <a href="/atskimura/items/2287f99db0143da4c20a" itemprop="url">ChefSpecの始め方</a>
        </h1>
        <ul class="unstyled tag-list">
          <li class="tag-label">
            <a href="/tags/chef">chef</a>
          </li>
          <li class="tag-label">
            <a href="/tags/chefspec">chefspec</a>
          </li>
        </ul>
        <ul class="unstyled status-list">
          <li class="time">
            <a href="/atskimura/items/2287f99db0143da4c20a" title="Permalink">2013/11/26</a>
          </li>
          <li class="stock">
            <i class="fa fa-stock"></i>
            12
          </li>
          <li class="comment">
            <a href="/atskimura/items/2287f99db0143da4c20a#comments">
              <i class="fa fa-comment-o"></i>
              0
            </a>
          </li>
        </ul>
      </div>
    </article>
    <article class="user-item-box" data-item-url="/atskimura/items/a90dfa8bfc72e3657ef9"
             data-uuid="a90dfa8bfc72e3657ef9" itemscope itemtype="http://schema.org/Article">

      <div class="">
        <h1 class="" itemprop="name">
          <a href="/atskimura/items/a90dfa8bfc72e3657ef9" itemprop="url">Gitでブランチを作るのを忘れてmasterにコミットしてしまったときの対処法</a>
        </h1>
        <ul class="unstyled tag-list">
          <li class="tag-label">
            <a href="/tags/git">Git</a>
          </li>
        </ul>
        <ul class="unstyled status-list">
          <li class="time">
            <a href="/atskimura/items/a90dfa8bfc72e3657ef9" title="Permalink">2013/11/21</a>
          </li>
          <li class="stock">
            <i class="fa fa-stock"></i>
            260
          </li>
          <li class="comment">
            <a href="/atskimura/items/a90dfa8bfc72e3657ef9#comments">
              <i class="fa fa-comment-o"></i>
              7
            </a>
          </li>
        </ul>
      </div>
    </article>

    <a class="btn more-btn" href="/atskimura/items">もっと見る</a>
  </section>
</div>
<div class="span5">
<div class="social-buttons">
  <div class="twitter">
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://qiita.com/atskimura" data-text=".@a_kimura - Qiita">ツイート</a>
  </div>
  <div class="hatebu">
    <a href="http://b.hatena.ne.jp/entry/http://qiita.com/atskimura" class="hatena-bookmark-button" data-hatena-bookmark-title="atskimura - Qiita" data-hatena-bookmark-layout="standard" title="はてなブックマークに追加する"><img src="http://b.st-hatena.com/images/entry-button/button-only.gif" alt="はてなブックマークに追加する" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
  </div>
  <div class="googleplus">
    <div class="g-plusone" data-size="medium" data-href="http://qiita.com/atskimura"></div>
  </div>
</div>
<script>
  $(function() {
    twttr.ready(function (twttr) {
      twttr.events.bind('tweet', function(event) {
        if (event) {
          Qiita.Mixpanel.tweetAnItem({ uuid: "" });
          ga('send', 'social', 'twitter', 'tweet', 'http://qiita.com');
          $.ajax({
            type: 'POST',
            url: '/notifications',
            data: {
              notification: {
                verb: 'tweet',
                uuid: ''
              }
            }
          });
        }
      });
      twttr.events.bind('click', function (e) {
        if (e) {
          ga('send', 'social', 'twitter', 'click', 'http://qiita.com');
        }
      });
    });
  });
</script>

<div class="user-popular-items radius-container">
  <section>
    <h6 class="container-title">人気の投稿</h6>
    <div class="clearfix">
      <article class="user-item-box" data-item-url="/atskimura/items/a90dfa8bfc72e3657ef9"
               data-uuid="a90dfa8bfc72e3657ef9" itemscope itemtype="http://schema.org/Article">
        <div class="stock-count-label">
          <div class="count">
            <i class="fa fa-stock"></i>
            260
          </div>
          <div class="unit">ストック</div>
        </div>

        <div class="stock-rank-item">
          <h1 class="stock-rank" itemprop="name">
            <a href="/atskimura/items/a90dfa8bfc72e3657ef9" itemprop="url">Gitでブランチを作るのを忘れてmasterにコミットしてしまったときの対処法</a>
          </h1>
          <ul class="unstyled tag-list">
            <li class="tag-label">
              <a href="/tags/git">Git</a>
            </li>
          </ul>
          <ul class="unstyled status-list">
            <li class="time">
              <a href="/atskimura/items/a90dfa8bfc72e3657ef9" title="Permalink">2013/11/21</a>
            </li>
            <li class="comment">
              <a href="/atskimura/items/a90dfa8bfc72e3657ef9#comments">
                <i class="fa fa-comment-o"></i>
                7
              </a>
            </li>
          </ul>
        </div>
      </article>

      <article class="user-item-box" data-item-url="/atskimura/items/97b2cc04e19781f4a4e6"
               data-uuid="97b2cc04e19781f4a4e6" itemscope itemtype="http://schema.org/Article">
        <div class="stock-count-label">
          <div class="count">
            <i class="fa fa-stock"></i>
            95
          </div>
          <div class="unit">ストック</div>
        </div>

        <div class="stock-rank-item">
          <h1 class="stock-rank" itemprop="name">
            <a href="/atskimura/items/97b2cc04e19781f4a4e6" itemprop="url">WebRTCのオープンソースソフトウェアまとめ</a>
          </h1>
          <ul class="unstyled tag-list">
            <li class="tag-label">
              <a href="/tags/webrtc">WebRTC</a>
            </li>
            <li class="tag-label">
              <a href="/tags/opensource">OpenSource</a>
            </li>
          </ul>
          <ul class="unstyled status-list">
            <li class="time">
              <a href="/atskimura/items/97b2cc04e19781f4a4e6" title="Permalink">2013/11/30</a>
            </li>
            <li class="comment">
              <a href="/atskimura/items/97b2cc04e19781f4a4e6#comments">
                <i class="fa fa-comment-o"></i>
                0
              </a>
            </li>
          </ul>
        </div>
      </article>

      <article class="user-item-box" data-item-url="/atskimura/items/80b2bb8fbc055cd4616f"
               data-uuid="80b2bb8fbc055cd4616f" itemscope itemtype="http://schema.org/Article">
        <div class="stock-count-label">
          <div class="count">
            <i class="fa fa-stock"></i>
            36
          </div>
          <div class="unit">ストック</div>
        </div>

        <div class="stock-rank-item">
          <h1 class="stock-rank" itemprop="name">
            <a href="/atskimura/items/80b2bb8fbc055cd4616f" itemprop="url">オープンソースのWebRTCサーバー「PeerServer」インストール手順</a>
          </h1>
          <ul class="unstyled tag-list">
            <li class="tag-label">
              <a href="/tags/webrtc">WebRTC</a>
            </li>
            <li class="tag-label">
              <a href="/tags/opensource">OpenSource</a>
            </li>
          </ul>
          <ul class="unstyled status-list">
            <li class="time">
              <a href="/atskimura/items/80b2bb8fbc055cd4616f" title="Permalink">2013/12/06</a>
            </li>
            <li class="comment">
              <a href="/atskimura/items/80b2bb8fbc055cd4616f#comments">
                <i class="fa fa-comment-o"></i>
                0
              </a>
            </li>
          </ul>
        </div>
      </article>

      <article class="user-item-box" data-item-url="/atskimura/items/60e9cc6638ca1d0754df"
               data-uuid="60e9cc6638ca1d0754df" itemscope itemtype="http://schema.org/Article">
        <div class="stock-count-label">
          <div class="count">
            <i class="fa fa-stock"></i>
            34
          </div>
          <div class="unit">ストック</div>
        </div>

        <div class="stock-rank-item">
          <h1 class="stock-rank" itemprop="name">
            <a href="/atskimura/items/60e9cc6638ca1d0754df" itemprop="url">Chaplin.js、Brunch、Railsを使ったWebアプリ開発（1）〜フロントエンドの環境構築</a>
          </h1>
          <ul class="unstyled tag-list">
            <li class="tag-label">
              <a href="/tags/chaplin.js">Chaplin.js</a>
            </li>
            <li class="tag-label">
              <a href="/tags/brunch">brunch</a>
            </li>
            <li class="tag-label">
              <a href="/tags/rails">Rails</a>
            </li>
            <li class="tag-label">
              <a href="/tags/javascript">JavaScript</a>
            </li>
          </ul>
          <ul class="unstyled status-list">
            <li class="time">
              <a href="/atskimura/items/60e9cc6638ca1d0754df" title="Permalink">2013/10/31</a>
            </li>
            <li class="comment">
              <a href="/atskimura/items/60e9cc6638ca1d0754df#comments">
                <i class="fa fa-comment-o"></i>
                0
              </a>
            </li>
          </ul>
        </div>
      </article>

      <article class="user-item-box" data-item-url="/atskimura/items/132a39181ad69fab2d63"
               data-uuid="132a39181ad69fab2d63" itemscope itemtype="http://schema.org/Article">
        <div class="stock-count-label">
          <div class="count">
            <i class="fa fa-stock"></i>
            13
          </div>
          <div class="unit">ストック</div>
        </div>

        <div class="stock-rank-item">
          <h1 class="stock-rank" itemprop="name">
            <a href="/atskimura/items/132a39181ad69fab2d63" itemprop="url">WebRTCサーバー「PeerServer」をHerokuで動かす</a>
          </h1>
          <ul class="unstyled tag-list">
            <li class="tag-label">
              <a href="/tags/webrtc">WebRTC</a>
            </li>
            <li class="tag-label">
              <a href="/tags/opensource">OpenSource</a>
            </li>
          </ul>
          <ul class="unstyled status-list">
            <li class="time">
              <a href="/atskimura/items/132a39181ad69fab2d63" title="Permalink">2013/12/13</a>
            </li>
            <li class="comment">
              <a href="/atskimura/items/132a39181ad69fab2d63#comments">
                <i class="fa fa-comment-o"></i>
                0
              </a>
            </li>
          </ul>
        </div>
      </article>

    </div>
  </section>
</div>

</div>
</div>
</div>
</section>
</div>
<footer id="footer-content" class="footerContainer">
  <section class="container">
    <div class="row">
      <div class="span8">
        <section>
          <ul class="footerContainer_navigation">
            <li><a href="http://qiita.com/about">Qiitaとは</a></li>
            <li><a href="http://qiita.com/tags">タグ一覧</a></li>
            <li><a href="http://qiita.com/advent-calendar">Advent Calendar一覧</a></li>
            <li><a href="http://qiita.com/organizations">Organization一覧</a></li>
            <li><a href="http://qiita.com/users">ユーザー一覧</a></li>
            <li><a href="http://qiita.com/docs/api">Developer API</a></li>
            <li><a href="http://qiita.com/docs/webhook">Webhook ドキュメント</a></li>
            <li><a href="/license.txt" rel="jslicense">JavaScript License</a></li>
          </ul>
          <ul class="footerContainer_navigation">
            <li><a href="http://blog.qiita.com" target="_blank">公式ブログ</a></li>
            <li><a href="http://qiita.com/terms">利用規約</a></li>
            <li><a href="http://qiita.com/privacy">プライバシーポリシー</a></li>
            <li><a href="http://qiita.com/asct">特定商取引法に基づく表記</a></li>
            <li><a href="http://support.qiita.com" target="_blank">サポート</a></li>
            <li><a href="https://increments.zendesk.com/anonymous_requests/new" target="_blank">お問い合わせ</a></li>
            <li><a href="http://increments.co.jp" target="_blank">運営会社</a></li>
          </ul>
        </section>
        <section>
          <p class="footerContainer_services">Incrementsのサービス</p>
          <ul class="unstyled">
            <li>
              <a href="http://kobito.qiita.com" target="_blank">Kobito - プログラミングのメモやスニペットの記録に最適なMacアプリケーション</a>
            </li>
            <li>
              <a href="http://teams.qiita.com" target="_blank">Qiita:Team - シンプル、スマートかつクローズドな情報共有サービス</a>
            </li>
            <li>
              <a href="https://career.qiita.com" target="_blank">Qiita:Career - プログラマのためのキャリア構築支援サービス</a>
            </li>
          </ul>
        </section>
        <section>
          <p>Copyright ©2014 Increments Inc.</p>
        </section>
        <aside class="visible-desktop">
          <a href="https://mixpanel.com/f/partner" target="_blank">
            <img src="https://mixpanel.com/site_media/images/partner/badge_light.png"
                 alt="Real Time Web Analytics" />
          </a>
        </aside>
      </div>
      <section class="span4 feedbackForm hidden-phone">
        <form accept-charset="UTF-8" action="/feedbacks" method="post"><div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="ftHhR+U7NU34fQfBHc+AWaImpEc+d68PZcuQOeYVRrM=" /></div>
          <textarea class="input-block-level" id="feedback_message" name="feedback[message]" placeholder="Qiitaについてご意見をお聞かせください" rows="5">
          </textarea>
          <div class="feedbackForm_sendInfo text-right">
            <label class="checkbox">
              <input checked="checked" id="feedback_send_user_info" name="feedback[send_user_info]" type="checkbox" value="true" />
              ユーザー情報も送る
            </label>
          </div>
          <div style="position:fixed;top:-99999px;opacity:0.0001;">
            <input type="text" name="feedback[name]"/><!-- Honey Pot -->
          </div>
          <input class="btn btn-block" name="commit" type="submit" value="運営者に意見を送る" />
          <div class="feedbackForm_notice">
            <p>頂いたご意見への回答は行っておりません。</p>
            <p><a href="https://increments.zendesk.com/anonymous_requests/new">返信の必要なお問い合わせはこちら</a></p>
          </div>
        </form></section>

    </div>
  </section>
</footer>



<!--[if lt IE 9]>
<script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>

<script src="//cdn.qiita.com/assets/application-dfbed0be00cdee0d1735d7de96e4fe31.js"></script>


<script>
  (function (I18n) {
    var match, orig;
    I18n.defaultLocale = "ja";
    I18n.fallbacks = true;
    if (match = location.search.match(/(?:\?|&)locale=([^&]+)/)) {
      I18n.locale = match[1];
      orig = $.ajax;
      $.ajax = function (params) {
        params.data || (params.data = {});
        params.data.locale = match[1];
        return orig.call($, params);
      };
    } else {
      I18n.locale = "ja";
    }
  })(I18n);
</script>
</body>
</html>

