{{# partial "content" }}
<div class="row">
  <h1>Welcome to Play2stub
  <h3 class="subheader">This is a sample site using Play2stub</h3>
  </h1>
  <hr>
  <ul>
    <li><a href="/pattern1">Pattern 1 </a></li>
    <li><a href="/pattern2/Dr.">Pattern 2 </a></li>
    <li><a href="/pattern3/Dr.">Pattern 3 </a></li>
    <li><a href="/pattern4">Pattern 4 </a></li>
    <li><a href="/pattern5">Pattern 5 </a></li>
    <li><a href="/pattern6">Pattern 6 </a></li>
    <li></li>
  </ul>
</div>
{{/partial}}

{{> main}}