<!DOCTYPE html>

<html>
<head>
  {{#block "title" }}
  <title>Play2stub</title>
  {{/block}}
  <!-- foundation-essentials-5.4.0 -->
  <link rel="stylesheet" href="/assets/stylesheets/normalize.css">
  <link rel="stylesheet" media="screen" href="/assets/stylesheets/foundation.css">
  <link rel="stylesheet" media="screen" href="/assets/stylesheets/main.css">
  <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">

  <script src="/assets/javascripts/vendor/modernizr.js"></script>
</head>
<body>
  {{#block "content" }}
  {{/block}}
</body>
</html>
