{{# partial "content" }}
<div class="row">
  <h1>Hello {{title}}{{who}} !
  </h1>
  <h3 class="subheader">Simple routing with a parameter</h3>
  <hr>
  <div class="small-12 columns">
    <p>
      <code>Pattern 3</code> is ...
    </p>
    <p>Or am I <a href="./Mr.">Mr.</a>  or <a href="./Ms.">Ms.</a> ?</p>
  </div>
  <hr>
  <a href="/" class="button">Back</a>
</div>

{{/partial}}

{{> main}}