<!DOCTYPE html>

<html>
<head>
  <title>Play2stub</title>
  <!-- foundation-essentials-5.4.0 -->
  <link rel="stylesheet" href="/assets/stylesheets/normalize.css">
  <link rel="stylesheet" media="screen" href="/assets/stylesheets/foundation.css">
  <link rel="stylesheet" media="screen" href="/assets/stylesheets/main.css">
  <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">

  <script src="/assets/javascripts/vendor/modernizr.js"></script>
</head>
<body>
<div class="row">
  <h1>Hello Pattern 6 !
    <small>Static HTML file</small>
  </h1>
  <hr>
  <div class="small-12 columns">
    <p>
      <code>Pattern 6</code> is ...
    </p>
  </div>
  <hr>
  <a href="/" class="button">Back</a>
</div>
</body>
</html>
