{{# partial "content" }}
<div class="row">
  <h1>Hello Pattern 1 !
    <small>Simple routing</small>
  </h1>
  <hr>
  <div class="small-12 columns">
    <p>
      <code>Pattern 1</code> is ...
    </p>
  </div>
  <hr>
  <a href="/" class="button">Back</a>
</div>

{{/partial}}

{{> main}}